SUPABASE_URL=https://btkmjdznqmzvvbihkefi.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ0a21qZHpucW16dnZiaWhrZWZpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzY3OTIzOSwiZXhwIjoyMDc5MjU1MjM5fQ.0GNDmqaR5935Y3YnzWdwtEnswnslmBqJgbRbVwFib_U
JWT_SECRET=super-secret-jwt-key
PORT=4000

